<div id="tag-data">
	<ul>
		<li><a href="#tag-data-1">Causes</a></li>
		<li><a href="#tag-data-2">Orgs</a></li>
	</ul>
	<div id="tag-data-1">
		<h3>Causes</h3>
		Filter Causes: <input type="text" name="filter-cause" id="search_filter_cause"/>
		<div id="filtered-cause">
  			<ul>
    			<% @causes.each do |cause| %>
        			<li><span class="name"><%= cause.name %></span> (<%= cause.count_all %>)</li>
    				<% end %>
  			</ul>
		</div>
	</div>

	<div id="tag-data-2">
		<h3>Organisations</h3>
		Filter Causes: <input type="text" name="filter-org" id="search_filter_org"/>
		<div id="filtered-org">
			<ul>
				<% @organisations.each do |org| %>
					<li><img width="50" height="25" src="<%= org.logo %>"/> <span class="name"><%= org.name %></span>
						<span style="font-style: italic;">
							<% org.causes.each do |cause| %>
							<br/><%= cause.name %>
							<% end %></span>
						</li>
						<% end %>
			</ul>
		</div>
	</div>
</div>