<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Love Pie</title>
  <link href="/stylesheets/reset.css" type="text/css" rel="stylesheet" media="screen"/>
  <link href="/stylesheets/grid.css" type="text/css" rel="stylesheet" media="screen"/>
  <link href="/stylesheets/resizable_heart.css" type="text/css" rel="stylesheet" media="screen"/>
  <script type="text/javascript" src="/javascripts/jquery.js" ></script>
  <script type="text/javascript" src="/javascripts/jquery-ui/js/jquery-ui-1.7.2.custom.min.js"></script>
  <script type="text/javascript" src="/javascripts/load_tags.js"></script>
  <script type="text/javascript" src="/javascripts/resizable_heart.js"></script>
  <link href="/javascripts/jquery-ui/css/smoothness/jquery-ui-1.7.2.custom.css" type="text/css" rel="stylesheet" media="screen"/>  
  <link href="/stylesheets/screen.css" type="text/css" rel="stylesheet" media="screen"/>
<script type="text/javascript">
$(document).ready(function () {
    // Attach the filter to our input and list
    My.List.Filter('input#search_filter_cause', '#filtered-cause>ul>li>span');
    My.List.Filter('input#search_filter_org', '#filtered-org>ul>li>span.name');
	  $("#tag-data").tabs({ fx: { opacity: 'toggle' } }).tabs();

		var containerHeight = $("ul#invisible-overlay").height();
		var heartItems = $('ul#invisible-overlay');
		var currentItemIndex = 0;
		var lastIndex = 0;
		var minSliceSize = 30;
		var initialSizeOfSlice = 0;
		var bottomOfContainer = 313;
		var lastHeightSubtraction = 0;

		$("#invisible-overlay li.one").resizable({ containment: '#invisible-overlay', alsoResize: '#beneath-image li.one', maxWidth: 699, minWidth: 699, minHeight: 30 });
		$("#invisible-overlay li.two").resizable({ containment: '#invisible-overlay', alsoResize: '#beneath-image li.two', maxWidth: 699, minWidth: 699, minHeight: 30});	
		$("#invisible-overlay li.three").resizable({ containment: '#invisible-overlay', alsoResize: '#beneath-image li.three', maxWidth: 699, minWidth: 699, minHeight: 30});

		$("#invisible-overlay li").resize(function(){
			$.fn.adjustLastElements();
		});	

		$.fn.getFirstResizableIndex = function(listObj) {
			var index = listObj.length;

			do {
				console.log("looping index is " + index -1 + "height =" + listObj.get(index -1));
				if(listObj.get(index -1).height() > minSliceSize){
					return index;
				}
				index--;
			} while (index > 0);
			return -1;		
		}

		$.fn.adjustLastElements = function() {
	//		var index = $.fn.getFirstResizableIndex($("#beneath-image li"));		
			if($("#beneath-image li:last").height() != minSliceSize){
				var allButLastElementHeight = parseInt($("#beneath-image li:last").prev().position().top) + parseInt($("#beneath-image li:last").prev().height())
				var diff = containerHeight - allButLastElementHeight;	
				$("#beneath-image li:last, #invisible-overlay li:last").height(diff);				
			}else{

			}
		}

	/*
	*	The max height is the furthest point down this element could be pulled
	*	including the previous and following slices.
	*
	*/
		$.fn.findMax = function() {
			var maxHeight = 0;					
			jQuery.each($('ul#invisible-overlay li').slice(0, currentItemIndex), function() {
			      maxHeight =  maxHeight + $(this).height() ;
			});

		  	var minPossHeightOfFollowers =   lastIndex - currentItemIndex;
			minPossHeightOfFollowers = minPossHeightOfFollowers * minSliceSize;
			maxHeight = maxHeight + minPossHeightOfFollowers;

			$('#invisible-overlay li').resizable('option', 'maxHeight', (containerHeight - maxHeight));
		}

		$('#invisible-overlay li').bind('resizestart', function(event, ui) {
			currentItemIndex = $(this).parent().children().index( this )
			$last = $('ul#invisible-overlay li:last');
		  	lastIndex = $(this).parent().children().index( $last );
			initialSizeOfSlice = $(this).height();

			$.fn.findMax();
		});	
	});	
</script>
</head>
<body>
<div id="container">
	<div id="header" class="row">
		<%= render 'landing/_header' %>		
	</div>

	<div id="middle" class="row">
  		<div id="side-bar" class="column grid_4">
			<%= render 'landing/_menu' %>
		</div>
  		<div class="column grid_7">
			<%= render 'landing/_moneyform' %>
			<%= render 'landing/_heart' %>
		</div>
	</div>

	<div id="footer" class="row">
		<%= render 'landing/_footer' %>
	</div>
</div>
</body>
</html>