<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Love Pie</title>
  <link href="/stylesheets/reset.css" type="text/css" rel="stylesheet" media="screen"/>
  <link href="/stylesheets/grid.css" type="text/css" rel="stylesheet" media="screen"/>
  <link href="/stylesheets/resizable_heart.css" type="text/css" rel="stylesheet" media="screen"/>
  <script type="text/javascript" src="/javascripts/jquery.js" ></script>
  <script type="text/javascript" src="/javascripts/jquery-ui/js/jquery-ui-1.7.2.custom.min.js"></script>
  <script type="text/javascript" src="/javascripts/load_tags.js"></script>
  <script type="text/javascript" src="/javascripts/labelover.jq.js"></script>
  <link href="/javascripts/jquery-ui/css/smoothness/jquery-ui-1.7.2.custom.css" type="text/css" rel="stylesheet" media="screen"/>  
  <link href="/stylesheets/screen.css" type="text/css" rel="stylesheet" media="screen"/>
  <script type="text/javascript" src="/javascripts/onloads.js"></script>
</head>
<body>
<div id="container">
	<div id="header" class="row">
		<%= render 'landing/_header' %>		
	</div>

	<div id="middle" class="row">
  		<div id="side-bar" class="column grid_4">
			<%= render 'landing/_menu' %>
		</div>
  		<div class="column grid_8">
			<%= render 'landing/_moneyform' %>
			<%= render 'landing/_heart' %>
		</div>
	</div>

	<div id="footer" class="row">
		<%= render 'landing/_footer' %>
	</div>
</div>
</body>
</html>