<p>
  <b>Name:</b>
  <%=h @organisation.name %>
</p>

<p>
  <b>Paypal:</b>
  <%=h @organisation.paypal %>
</p>

<p>
  <b>Url:</b>
  <%=h @organisation.url %>
</p>

<p>
  <b>Active:</b>
  <%=h @organisation.active %>
</p>


<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back', organisations_path %>