<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Untitled Document</title>
	</head>
	<body>
		£<%= @payed %> has been payed<br />
		£<%= @unpayed %> to be payed out from which<br />
		
		<% @causes.each_with_index do |cause, i| %>
			For the cause <b><%= cause.name %></b>, we will pay out £<%= @amounts[i+1] %> <br />
			--- out of <%= u=Cause.find_by_mapp2(cause.id).count_all %> <br />
			<% Mapping.count(:all, :conditions => {:cause_id => cause.id}, :group => :organisation_id).each do |test| %>
			<%= Organisation.find(test[0]).name %> receives <%= test[1] %> out of <%= u %> <br />
			<% end %>
			---
		<% end %>
	</body>
</html>
